body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    margin-top: 15rem;
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 250px;
}
